# .env.example
BOT_TOKEN=tu_bot_token_de_telegram
CHAT_ID=tu_chat_id_de_telegram
DB_USER=tu_usuario_postgresql
DB_PASSWORD=tu_password_postgresql
IP_SERVIDOR_WEB=192.168.10.20
IP_SERVIDOR_SEGURIDAD=192.168.10.30
IP_RED=192.168.10.0S
